@font-face {
  font-family: discord;
  src: url(https://github.com/sPNkr17/TST/blob/main/discordFont.otf);
}

.join {
    font-family: discord;
    font-size: 5em;
    text-decoration: none;
    color: aquamarine;
    text-shadow: 0em 0em 0.5em aquamarine;
}

.join:hover {
    color:aqua;
    text-shadow: 0em 0em 0.7em aqua;
}

#tribegif {
    border-radius: 0.7em;
    box-shadow: 0em 0em 2em aquamarine;
}

#tribegif:hover {
    border-radius: 0.7em;
    box-shadow: 0em 0em 2em aqua;
}

#tribegif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.7em;
    width: 25em;
}